<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StudentAPIUrl" value="http://interviewapi20170221095727.azurewebsites.net"/>
    <add key ="StudentAPIUserName" value="authentica"/>
    <add key ="StudentAPIPassword" value="@uth3nt1c@"/>
    <add key ="StudentAPIEndpoints" value="GetAll:/api/student/all|GetEnrollment:/api/student/EnrollmentHistory?studentid={0}|GetAssignment:/api/student/AssignmentHistory?studentid={0}"/>
  </appSettings>
</configuration>